<div class="static_pages">
    <div class="welcome">
        <h1>Welcome!!</h1>
        <div class="login_action">
            <p><%= link_to "Login", login_path %></p>
            <p><%= link_to "NewUser", signup_path %></p>
        </div>
    </div>
    
</div>
