<div class="edit_pages">
  <div class="edit_area">  
    <%= form_for(@task) do |f| %>
      <div><%= f.text_field :title, class: "title_text" %></div>
      <div><%= f.submit :class=>"edit_btn" %></div>
    <% end %>
  </div>
</div>