<header>
  <h1>
    <% if logged_in? %>
      <%= link_to "SimpleToDo", tasks_path %>
    <% else %>
      <%= link_to "SimpleToDo", root_path %>
    <% end %>
    
  </h1>
  <nav>
    <ul>
      <% if logged_in? %>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>